.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
.vscode/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
*.jar
!build/libs/*.jar
logs/
*.log
run/
world/
world_the_end/
world_nether/
/bin/
/.settings/
*.jar
!build/libs/*-all.jar